.postWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50rem;

  @media screen and (max-width: 512px) {
    gap: 1rem;
  }

  .category {
    text-transform: uppercase;
  }

  .postedText {
    text-transform: uppercase;
  }

  .postBody {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .description {
    max-width: 38rem;
  }

  .category {
    font-weight: 800;
  }

  .buttonWrapper {
    margin-top: 1.5rem;
  }
}
