.categoryHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $purpleLight;
  padding: 5rem 2rem;

  @media screen and (max-width: 768px) {
    padding: 3rem 2rem;
  }

  .content {
    width: 100%;
    max-width: 1280px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .categoryText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .title {
        &:first-letter {
          text-transform: uppercase;
        }
      }

      .description {
        text-align: center;
        max-width: 34rem;
      }
    }

    .breadcrumbs {
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
}
