.postsSection {
  width: 100%;

  margin-top: 8rem;
  padding: 0 5rem;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    margin-top: 4rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0 2rem;
  }

  .container {
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 2rem;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }
}
