.authorsSection {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  .authorsList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;

    .authorItem {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
