.categoryList {
  width: 100%;
  display: flex;

  &.horizontal {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    @media screen and (max-width: 1024px) {
      gap: 1rem;
    }
  }

  &.vertical {
    flex-direction: column;
    gap: 1.5rem;
  }
}
