.testimonialsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  margin-top: 6rem;

  .content {
    width: 100%;
    max-width: 1280px;
    padding: 5rem 6rem 4.5rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 5rem;
    background-color: $accentHover;

    .leftBlock,
    .rightBlock {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .leftBlock {
      flex: 1;
    }

    .rightBlock {
      flex: 1.5;
    }

    .decorationLine {
      margin-right: 1rem;
      width: 1px;
      height: auto;
      background-color: $stroke;
      opacity: 0.3;
    }
  }
}
