.categorySection {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 5rem;
  margin-top: 4rem;

  @media screen and (max-width: 768px) {
    padding: 0 2rem;
  }

  .content {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media screen and (max-width: 768px) {
      align-items: center;
    }
  }
}
