.featuredLogoSection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  padding: 0 5rem;

  @media screen and (max-width: 768px) {
    margin-top: 4rem;
    padding: 0 2rem;
  }

  .content {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    @media screen and (max-width: 1024px) {
      justify-content: flex-start;
    }

    @media screen and (max-width: 512px) {
      justify-content: center;
    }

    .title {
      color: $secondaryText;
    }
  }
}
