* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;

  font-weight: 400;

  @media screen and (max-width: 512px) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}
