.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    border-width: 0.5rem;
    border-style: solid;
    border-color: $accent $accent $accentHover $accentHover;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    -webkit-animation: spin 2s infinite;
    animation: spin 2s infinite;

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
