.specialSection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  padding: 0 5rem;

  @media screen and (max-width: 1024px) {
    margin-top: 4rem;
    padding: 0 2rem;
  }

  .content {
    position: relative;
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .imageWrapper {
      position: relative;
      width: 75%;
      height: auto;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .contentBlock {
      position: absolute;
      right: 0;
      width: 57%;
      background-color: $secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding: 5rem;

      @media screen and (max-width: 1280px) {
        width: 65%;
        padding: 4rem;
      }

      @media screen and (max-width: 1024px) {
        padding: 3rem;
        width: 75%;
      }

      @media screen and (max-width: 768px) {
        position: static;
        width: 100%;
        padding: 2rem;
        text-align: center;
      }

      .title {
        margin-top: 0.5rem;
        letter-spacing: -2px;

        @media screen and (max-width: 1024px) {
          font-size: 2rem;
          line-height: 2.4rem;
        }
      }

      .readMore {
        margin-top: 1rem;
      }
    }
  }
}
