.nav {
  display: flex;

  .list {
    display: flex;
    gap: 1.5rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .item {
      color: $secondary;
    }
  }

  .link {
    &.active {
      color: $accent;
    }
  }
}
