.similarPostsSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .similarPosts {
    width: 100%;
    display: flex;
    gap: 2rem;
  }
}
