.stats {
  margin-top: -3rem;
  position: relative;

  @media screen and (max-width: 768px) {
    margin-top: 0;
  }

  .statsRow {
    position: absolute;
    bottom: 1rem;
    left: 10%;

    padding: 2rem 3rem;
    max-width: 40rem;
    width: 100%;

    display: flex;
    align-items: center;

    background-color: $accent;

    @media screen and (max-width: 768px) {
      left: 0;
      top: 0;
      padding: 1rem 2rem;

      height: 100%;
      width: 40%;

      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .statsTitle {
    @media screen and (max-width: 568px) {
      font-size: 2rem;
    }
  }

  .statsBlock {
    max-width: 32rem;
    margin-right: 4rem;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 768px) {
      margin-right: 0;
    }
  }

  .statsImage {
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

.purpleBlock {
  position: absolute;
  bottom: 0;
  left: 10%;

  width: 20rem;
  height: 1.5rem;

  background-color: $purple;

  @media screen and (max-width: 1100px) {
    width: 20%;
  }
}

.yellowBlock {
  position: absolute;
  bottom: 0;
  left: calc(10% + 20rem);

  width: 30rem;
  height: 1.5rem;

  background-color: $accent;

  @media screen and (max-width: 1100px) {
    width: 50%;
    left: calc(30%);
  }
}
